@import './base.css';

:root {
  --color-primary: #A8C3C7;
  --color-secondary: #D5FFF3;
  --color-triary: #AF9AB2;
  --color-quaternary: #5D4954;
  --color-quinary: #68534D;
}
body {
  background-color: var(--color-primary);
}

header  { 
  padding-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

/*@media (hover: hover) {
}
*/
